.partner-bg{
    border-radius: 10px;
    border: 1px solid #b4777a;
    background: rgba(158, 112, 255, 0.05);
    z-index: 999;
    }
    
    .submit_button {
        display: flex;
        align-items: center;
        position: relative;
        /* background: #0a0a0a; */
        border-radius: 300px;
        /* width: 135px;
        height: 40px; */
        padding: 16px 64px;
        color: #fff;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 500px;
        line-height: 14px;
        letter-spacing: 0.14px;
        z-index: 10;
      
        background-blend-mode: overlay, normal;
        box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.09);
        backdrop-filter: blur(0px);
      }
      
      .submit_button::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        inset: 0;
        border-radius: 5px;
        padding: 1.5px;
      
        background: linear-gradient(
          91deg,
          #ffd6708e 8.81%,
          #ff70ac8f 29.16%,
          #ec70ffab 49.51%,
          #9d70ffb6 69.86%,
          #70b7ffb3 90.2%
        );
        -webkit-mask: linear-gradient(black 0 0) content-box,
          linear-gradient(black 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
        transition: 2s ease-in-out;
      
      }